<<<<<<< HEAD

<h1>Artist</h1>
<h1>Name: <%= @artist.name %> </h1>
<p>Bio: <%= @artist.bio %></p>
=======
<h1>Artists#show</h1>
<p>Find me in app/views/artists/show.html.erb</p>
>>>>>>> db49a0f39f3fd2dbbd64d814fe3a2f0833337c97
